@font-face {
    font-family:MyWebFont;
    src: url(ABCRepro-Medium-Trial.woff2);
}
@font-face {
    font-family:MyWebFontBlack;
    src: url(ABCRepro-Black-Trial.woff2);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: MyWebFont;
}
.infor{
    width: 20%;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.32);
    border-radius: 20px;
}
.selfintro{
    font-size: 18px;
    margin-top: 20px;
}
.jvalue{
    font-size: 25px;
    font-feature-settings: "ss16";
}
.time{
    display: flex;
}
.timeslot{
    font-family: MyWebFont;
    font-feature-settings: "ss16";
}
.EarlyMorning{
    margin-top: 6px;
    margin-left: 20px;
    background-color: #8FB9A8;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.nine,.eleven,.fourteen,.svt,.nineteen,.midnight{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 6px;
}
.nine{
    background-color: #ffe7c2;
}
.eleven{
    background-color: #FCD0BA;
}
.fourteen{
    background-color: #F0B7A7;
}
.svt{
    background-color: #AB6C82;
}
.nineteen{
    background-color: #685d79;
}
.midnight{
    margin-left: 20px;
    background-color: #475C7A;
}
.topbar{
    overflow: hidden;
    height: 60px;
    font-size: xx-large;
}
.III{
    text-decoration: none;
    font-family: MyWebFontBlack;
    font-feature-settings: "ss16";
    font-size: xxx-large;
    border: none;
    background-color: white;
    float: right;
}
.topbar a{
    text-decoration: none;
    font-family: MyWebFontBlack;
    font-feature-settings: "ss16";
    font-size: xxx-large;
}
.PPP{
    color: #aeabab;
}
.bodypart{
    display: flex;
}
.leftpart{
    float: left;
    overflow-y: auto;
    width: 25%;
}

.rightpart{
    width: 50%;
}
.midpart{
    width: 25%;
}
.canvas{
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quicknotes{
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    margin-bottom: 29px;
    width: 94%;
    margin-left: 10px;
    border-radius: 20px;
    border-color: black;
    border-width: 8px;
    border-style: solid;
}
.Notes{
    font-size: xx-large;
    font-feature-settings: "ss16";
    font-family: MyWebFontBlack;
}
.Note{
    color: white;
    padding: 20px 18px 6px;
    font-size: x-large;
    font-family: MyWebFontBlack;
}
.wrapper{
    padding-left: 20px;

}
.removeFruits{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.addFruitButton,.removeFruits{
    font-size: x-large;
    font-feature-settings: "ss16";
    font-family: MyWebFontBlack;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.fruitInput{
    width: 95%;
    background-color: transparent;
    border-style: none none solid none;
    border-color: white;
    font-family: MyWebFont;
    font-size: x-large;
    color: white;
}
::placeholder {
    color: white;
    opacity: 0.6; 
  }
.fruitList{
    color: white;
    padding-left: 5px;
    list-style: none;
    font-family: MyWebFont;
    font-size: x-large;
}

.matters{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.matter{
    position: relative;
    border-radius: 20px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    width: 50%;
    height: 250px;
    margin-left: 20px;
    margin-right: 10px;
}
.importantdate{
    margin-top: 20px;
    text-align: center;
    font-family: myWebFontBlack;
    font-size: 28px ;
}
.daysleft{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-feature-settings: "ss16";
    font-size: 80px;
}
.targetingdate,.dateSelector{
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    font-family: myWebFontBlack;
    font-size: 16px;
}
.dateSelector{
    font-family: myWebFontBlack;
    font-size: 14px;
}
.calendar-container {
    margin-top: 30px;
    margin-bottom: 28px;
    margin-left: 10px;
    background: transparent;
    width: 94%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    border-color: white;
    border-width: 8px;
    border-style: solid;
}
 
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 20px 30px 6px;
    justify-content: space-between;
}
.calendar-current-date{
    font-family: MyWebFontBlack;
}
header .calendar-navigation {
    display: flex;
    font-feature-settings: "ss16";
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    background: #f2f2f2;
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    padding: 20px;
}
 
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: white;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color: #aaa;
}
 
.calendar-dates li.active {
    color: none;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
   border-color: white;
   border: 3px;
   border-style: solid;
}
 
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
    opacity: 0.8;
}

.todolist{
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin-top: 28%;
    margin-bottom: 20px;
    width: 94%;
    margin-left: 10px;
    border-radius: 20px;
    border-color: white;
    border-width: 8px;
    border-style: solid;
    width: 94%;
}
.todotitle{
    color: white;
    padding: 20px 0px 6px;
    font-size: x-large;
    font-family: MyWebFontBlack;
}
.taskList{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.taskInput{
    width: 95%;
    background-color: transparent;
    border-style: none none solid none;
    border-color: white;
    font-family: MyWebFont;
    font-size: x-large;
    color: white;
}
.addclassbtn{
    font-size: x-large;
    font-feature-settings: "ss16";
    font-family: MyWebFontBlack;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
.delete-btn {
    position: absolute;
    right: 2.5%;
    font-size: x-large;
    font-feature-settings: "ss16";
    font-family: MyWebFontBlack;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
ul {
    margin-bottom: 10px;
    color: white;
    padding-left: 5px;
    list-style: none;
    font-family: MyWebFont;
    font-size: x-large;
}
