body{
    background-color: azure;
}
.patterns{
    align-items: center;
}
.one,.two,.three,.four{
    display: flex;
}
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6,.circle7,.circle8,.circle9,.circle10,.circle11,.circle12,.circle13,.circle14,.circle15,.circle16{
    height: 100px;
    width: 100px;
}
